name: Sync submodule in docs
on:
  push:
    branches:
      - 'main'

jobs:
  sync-repo:
    name: Sync submodule in docs
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4
        with:
          token: ${{ secrets.PAT }}
          repository: Kong/docs.konghq.com
          event-type: PLUGINS_UPDATED
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4
        with:
          token: ${{ secrets.PAT }}
          repository: Kong/developer.konghq.com
          event-type: PLUGINS_UPDATED
